@import 'sds_card.css';

h3{
  border-bottom: solid 3px black;
  margin-bottom:40px;
  text-align:center;
  color:black;
}

.sds_cards{
  min-height:300px;
}
.sds-card{
  cursor:pointer;
  transition-property: transform box-shadow;
  transition-duration:0.3s;
  /* transform-origin:bottom left; */
}
.sds-card:hover{
  transform:rotate(-1deg) translate(-6px,-6px);
  box-shadow:6px 6px 12px rgba(0,0,0,0.5);
}
