.message{
  padding:10px;
}

img.sample{
  display:block;
  max-width:90%;
  margin:30px auto;
}

.game-start{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:50px auto;
  background-color:#deb0ff;
  width:250px;
  color:white;
  text-decoration:none;
  padding:10px;
  border-radius:10px;
  font-weight:bold;
}
.game-start:hover{
  color:black;
}
