.flask-area{
  background-image:url(../img/lab_3.jpg);
  /* background-image:url(../img/lab_0.png); */
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}

.flask-area .flask{
  --x:50%;
  --y:50%;
  width: 100px;
  position:absolute;
  top:var(--x);
  left:var(--y);
  transform:translate(-50%, -50%);
  filter:drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
}
